
<ion-content>
  <div id="header">
    <h1>CLIENT LOGIN FORM</h1>
    <img src="assets/demo-image.jpg" />
  </div>

  <form id="form">
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="user name" ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="password"></ion-input>
    </ion-item>
    <ion-button (click)="logMeIn($event)" expand="block" color="primary" shape="round">LOGIN</ion-button>
  </form>
</ion-content>
